<html>
  <head>
    <div style="margin: 0 auto; text-align: center;">
    <title>OfficeMate</title>
  </div>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body style="text-align:center;">
    <div class="nav">
      <h2>Welcome to OfficeMate</h2>
      <br />
      <% if (user) { %>
      <p>Hi <%= user %>     </p>
      <% } %>
    </div>
    <div class="main-body">
      <p>
          <a><img src="https://i.imgur.com/TF3R7zf.png" title="source: imgur.com" /></a>
      </p>
      <% if (user) { %>
      <div>
          <!-- <a class="btn" href="/search-user">Search User</a> -->
          <a class="btn" href="/graph">View current office supply</a>
          <a class="btn" href="/supply">Update your office supply!</a>
          <a class="btn" href="/basic-info">Edit Store Information</a>
          <a class="btn" href="/account/logout">Logout</a>
        <a class="btn" href="/account/login">Log in to a different account</a>
      </div>
      <% } else { %>
      <a class="btn" href="/account/login">Log in to OfficeMate</a>
      <a class="btn" href="/account/signup">Sign up if you don't have an account yet!</a>
      <% } %>
      </div>
    </div>
  </body>
</html>
