body {
  font-family: 'Arial';
  margin: 0px;
  background: whitesmoke;
  padding: 5%;
}

.nav {
  width: 100%;
  height: 70px;
  margin: 0px;
}

.nav > p {
  float: right;
  padding-right: 20px;
}

.nav > h2 {
  display: inline-block;
  padding-left: 20px;
}

.btn {
  text-decoration: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  background-color: rgb(107, 6, 11);
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.left-col {
  width: 30%;
  height: 90%;
  overflow-y:  scroll;
  display: inline-block;
}

.right-col {
  width: 60%;
  margin-left: 5%;
  display: inline-block;
}

li {
  list-style: none;
  padding: 20px;
  margin: 5px;
  border: 1px solid #000;
  transition: all 0.5s
}

li:hover {
  background-color: #F79E21;
  color: #FFF;
  cursor: pointer;
}

ul {
  padding: 0px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0,.5);
}
